<ion-view class="item_page">

<div class="btn"> <a ng-href="#/srp">Go back</a></div>
<ion-slide-box on-slide-changed="slideHasChanged($index)">
	<ion-slide>
		<div class="item_img_1">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="item_img_2">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="item_img_3">
		</div>
	</ion-slide>
</ion-slide-box>

<div class="item_til">
	Check On It Flannel Red and Black Jacket
</div>

<div class="item_site">
	FROM Nastygal
</div>

<div class="item_pri">
	$78.00
</div>

<div class="item_shipping">
	Free shipping with USPS
</div>


<div class="buy_btn">
	Buy It
</div>

</ion-view>